block header
 #headerContainer.headerContainer
    a.logo(href='/')
      img(
        src='/assets/logo.png'
        class='logoImg'
      )
      span 趣写
    .category
      .box
        each val in [{id: 'home',cate: '首页', link: '/'}, {id: 'cates',cate: '分类', link: '/cates'}, {id:'about', cate: '关于', link: '/about'}]
          a(
            href=val.link
            id=val.id
          ) #{val.cate}
    .other
      #writeBtn.button 写文章
      input(
        class='search js_search'
        placeholder='Search'
      )
      .noticeBox 
        .notice 
        .avatar
    
    script.
      const pathname = window.location.pathname.split('/')[1]
      let css = {
        color: '#333',
        fontWeight: '600',
      }
      if(pathname){
        $(`#${pathname}`).css(css)
      }else {
        $(`#home`).css(css)
      }
      $('#writeBtn').click(function(){
        window.open('/admin');
      })
      //- $('.js_search').blur(function(e){
      //-   window.location.href = window.location.pathname + '?keyword=' + e.target.value;
      //- })
      $(document).keyup(function(event){
        if(event.keyCode ==13){
          val = $(".js_search").val();
          window.location.href = window.location.pathname + '?keyword=' + event.target.value;
        }
      });
      $(document).on("mousewheel DOMMouseScroll", function (e) {
          var delta = (e.originalEvent.wheelDelta && (e.originalEvent.wheelDelta > 0 ? 1 : -1)) ||  // chrome & ie
                  (e.originalEvent.detail && (e.originalEvent.detail > 0 ? -1 : 1));              // firefox
          if (delta > 0) {
            $('#headerContainer').css('top','0')
          } else if (delta < 0) {
            $('#headerContainer').css('top','-60px')
          }
      });