block header
 .headerContainer
    a.logo(href='/')
      img(
        src='/assets/logo.png'
        class='logoImg'
      )
      span 趣写
    .category
      .box
        each val in [{id: 'home',cate: '首页', link: '/'}, {id: 'cates',cate: '分类', link: '/cates'}, {id:'about', cate: '关于', link: '/about'}]
          a(
            href=val.link
            id=val.id
          ) #{val.cate}
    .other
      #writeBtn.button 写文章
      input(
        class='search'
        placeholder='Search'
      )
      .noticeBox 
        .notice 
        .avatar
    
    script.
      const pathname = window.location.pathname.split('/')[1]
      if(pathname){
        $(`#${pathname}`).css('color', '#333')
      }else {
        $(`#home`).css('color', '#333')
      }
      $('#writeBtn').click(function(){
        window.open('/admin');
      })