block header
 .headerContainer
    a.logo(href='/')
      img(
        src='/assets/logo.png'
        class='logoImg'
      )
      span 趣写
    .category
      .box
        each val in [{cate: '首页', link: '/'}, {cate: '分类', link: '/cates'}, {cate: '关于', link: '/about'}]
          a(href=val.link) #{val.cate}
    .other
      #writeBtn.button 写文章
      input(
        class='search'
        placeholder='Search'
      )
      .noticeBox 
        .notice 
        .avatar
    
    script.
      $('#writeBtn').click(function(){
        window.open('/admin');
      })