block header
 .headerContainer
    .logo
      img(
        src='/assets/logo.png'
        class='logoImg'
      )
      span 趣写
    .category
      .box
        each val in ['首页', '分类', '关于']
          span #{val}
    .other
      .button 写文章
      input(
        class='search'
        placeholder='Search'
      )
      .noticeBox 
        .notice 
        .avatar