extends ./layouts/default

block title
  title SimpleCMS | 关于我们

block style
  include ./includes/about.css

block content
  .aboutContainer
    .aboutWidth
      .aboutus 
        .imgBox
          img(
            src='/assets/about.png'
          )
        .introduction #{introductionInfo}
      .teamName 团队介绍
      .teams 
        each team in teams
          .teamBox
            .avatar
              img(
                src=`assets/about-${team.avatarUrl}.png`
                class='authorAvatar'
              )
              .jobTitle #{team.job}
              a.maskBackground(
                href=team.github
                target='_blank'
              ) 
                img(
                  src='assets/gitIcon.png'
                )
            .name #{team.name}
            .teamDesc #{team.desc}
