extends ./layouts/default

block title
  title SimpleCMS | 关于我们

block style
  include ./includes/about.css

block content
  .aboutContainer
    .aboutus #{aboutus}
    .aboutDesc #{aboutDesc}
    .teamsDesc #{teamDesc}
    .teams 
      each team in teams
        .team
          .tx
            span #{team.tx}
          .name #{team.name}
          .job #{team.job}
          .teamDesc #{team.desc}
          .github #{team.github}

    .copyright #{copyright}
