extends ./layouts/default

block title
  title SimpleCMS | 趣写

block style
  include ./includes/view.css
  include ./includes/md.css

block content
  .viewContainer
    .imgBox
      img(
        src=topImg
        class='viewImg'
      )
    .viewTitle #{viewTitle}
    .authorBox
      .avatar
      .name #{authorInfo.name}
      .date #{authorInfo.date}
    .descriptionBox
      != descriptionBox
    .exceptional
      .text 给作者打赏，鼓励TA抓紧创作！
      .icon 
      .number 100人已打赏
      .reward 
        .like 
          img(
            src='/assets/like.png'
          )
          span #{views}
        .collection
          img(
            src='/assets/favorites.png'
          )
          span #{flover}
    .commentBox
      .title 评论
      each val in commentInfoList
        .commentInof 
          .commentPersonal
            .avatar
            .name #{val.name}
            .date #{val.date}
          .commentContent #{val.content}
          .commentReply 
      .commentTextarea 
        .avatar
        .review
          textarea(
            placeholderNew="评论.."
            class='inputBox'
          )
          .operation
            .operationArea
            .commentButton 评论

