extends ./layouts/default

block title
  title SimpleCMS | 趣写

block style
  include ./includes/view.css
  include ./includes/md.css

block content
  .viewContainer
    .containerWidth 
      .contentWidth
        .imgBox
          img(
            src=topImg
            class='viewImg'
          )
        .viewTitle #{viewTitle}
        .authorBox
          .avatar
          .name #{authorInfo.name}
          .date #{authorInfo.date}
          .views #{views}人围观
        .descriptionBox
          != descriptionBox
        .exceptional
          .text 给作者打赏，鼓励TA抓紧创作！
          #reward.icon 
            img(
              src='/assets/group.svg'
              id='img-reward'
            )
            img(
              src='/assets/rectangle.png', 
              id='img-payCode'
            )
          .reward 
            #like.like 
              img(
                src='/assets/emptyLike.png'
                id='img_like'
              )
              span#newFlover #{flover}
            //- #collection.collection
            //-   img(
            //-     src='/assets/emptyFavotites.png'
            //-     id='img_favorites'
            //-   )
            //-   span #{flover}
        a.advertisingWidth(
          herf=ads.link
        ) 
          .imgBox 
            img(
              src=ads.imageUrl
            )
          .adText #{ads.text}
        .commentBox
          .title 评论
          each val in commentInfoList
            .commentInof 
              .commentPersonal
                .avatar
                .name 游客
                .date 2020-12-18
              .commentContent #{val}
              .commentReply 
                img(
                  src='/assets/vector.svg'
                  id='replyComments'
                )
          .commentTextarea 
            .avatar 
              .avatarName 游客
            .review
              textarea(
                placeholderNew="评论.."
                class='inputBox'
                id='js-textarea'
              )
              .operation
                .operationArea
                #commentButton.commentButton 评论

  script.
    const id = window.location.search.split('=')[1]
    $('#reward').click(function(){
      $('#img-reward').hide();
      $('#img-payCode').show();
    })
    
    $('#collection').click(function(){
      $('#img_favorites').attr('src','/assets/favorites.png');
    })

     $('#replyComments').click(function(){
      $('#js-textarea').focus()
      $('#js-textarea').val('@游客')
    })

    $('#like').click(function(){
      $('#img_like').attr('src','/assets/like.svg');
        fetch('/api/v0/article/flover/add',{
          body: JSON.stringify({id: id}),
          method: 'POST',
          credentials: 'include',
          cache: 'no-cache',
          headers: {
            'user-agent': 'Mozilla/4.0 MDN Example',
            'content-type': 'application/json'
          },
           mode: 'cors'
        }).then((res) => {
          let floverValue = $('#newFlover').text()
          $('#newFlover').text(Number(floverValue) + 1)
          $('#like').css('pointer-events', 'none')
        })
      })

    $('#commentButton').click(function(){
        let textArea = $('#js-textarea').val()
        fetch('/api/v0/article/comment/save',{
          body: JSON.stringify({id: id , comment: textArea}),
          method: 'POST',
          credentials: 'include',
          cache: 'no-cache',
          headers: {
            'user-agent': 'Mozilla/4.0 MDN Example',
            'content-type': 'application/json'
          },
           mode: 'cors'
        }).then((res) => {
          window.location.reload()
        })
      })