extends ./layouts/default

block title
  title SimpleCMS | 趣写

block style
  include ./includes/home.css

block content
  .homeContainer
    .loginLogo
      img(
        src='/assets/logo.png'
        class='logoPicture'
      )
      span 趣写
    .homeBackGround
      img(
        src='assets/home.png'
      )
    .homeContent
      .title #{homeTitle}
      .content #{homeContent}
      .imgBox
      .btnBox
        a.startUse(
          herf='/home'
          id='startUse'
        ) 立即使用
        a.goGithub(
          href='https://github.com/MrXujiang/simpleCMS'
          target='_blank'
        ) Github 

  script. 
    $('#startUse').click(function(){
      window.open('/home','_self');
    })
    