extends ./layouts/default

block title
  title SimpleCMS | 趣写

block style
  include ./includes/index.css

block content
  .contentContainer
   .homeWidth
      a.carouselBox(href=ads.topAd['link'], target='_blank')
        .content
          .title #{ads.topAd['text']}
        .adImg
          img(
            src=ads.topAd['imageUrl']
          )
      .recommendBox
        .title
          span 最近更新
        .childBox
          .updataBox
            each val in list
              a.childUpdata(href=`/detail?fid=${val.fid}`, target='_blank')
                span.imgWrap
                  img(
                    src= val.face_img
                    object-fit='contain'
                  )
                .updataContent
                  .updatatitle(title=val.title) #{val.title}
                  .updatatContent(title=val.desc) #{val.desc || val.label} 
                  .updataOther
                    .author #{val.author}
                    .date #{val.ct}
          if (tops.length > 0)
            .columnBox
              .title 编辑推荐
              each val in tops
                a.item(href=`/detail?fid=${val.fid}`, target='_blank')
                  img(
                    src=val.face_img
                    class='listImg'
                  )
                  .content
                    .title #{val.title}
                    .introduction #{val.author}  #{val.ct}
