doctype html
html
 head
  meta(charset="utf-8")
  meta(name='viewport', content='width=device-width, initial-scale=1')
  link(rel='icon',href='assets/linkLogo.svg', type='image/x-icon')
  block title
  style
    include ../includes/header.css
    block style
  include ../includes/scripts
 body(
   style=(theme === 1 && 'background-color: #E5E5E5')
 )
    if url === '/login' || url === '/registered' || isHome
      block content
    else
      include ../components/header.pug
      block content 
    a.authority(
      href='https://beian.miit.gov.cn/'
      target='_blank'
    ) 鄂ICP备18024675号-2
    a.copyright(
      href='https://github.com/MrXujiang/simpleCMS'
      target='_blank'
    ) #{copyright}
      