doctype html
html
 head
  meta(charset="utf-8")
  meta(name='viewport', content='width=device-width, initial-scale=1')
  link(rel='icon',href='assets/linkLogo.svg', type='image/x-icon')
  block title
  style
    include ../includes/header.css
    block style
  include ../includes/scripts
 body(
   style=(theme === 1 && 'background-color: #E5E5E5')
 )
    if url === '/login' || url === '/registered' || isHome
      block content
    else
      include ../components/header.pug
      block content 
    a.authority(
      href='https://mp.weixin.qq.com/s?__biz=MzU2Mzk1NzkwOA==&mid=2247489467&idx=2&sn=c6cd98fe31750f1e32877d8e4e7aec08&chksm=fc530e40cb24875621d41ed3d5fb0c95decb9ecc03b4de6c54005cc16411f4baa3ebbcc8c9ab&payreadticket=HA4wYieFgaUYZURpS5A7QJZ39oh8iCOBgcNujZlpF0O9rhoz2syNlY69qVDph7zJt95yGbE#rd'
      target='_blank'
    ) 趣谈前端
    a.copyright(
      href='https://github.com/MrXujiang/simpleCMS'
      target='_blank'
    ) #{copyright}
      